body{
    font-family: "American Typewriter";
}

table{
    border-spacing: 0;
    font-family: Helvetica;

}
td{
    padding: 5px;
}
th{
    text-align: left;
    padding: 5px;
}
.dark{
    background-color: paleturquoise;
}
.header{
    background-color: darkgreen;
    color: white;
}
#bigTitle{
    font-size: 18pt;
}