/* From here this is CSS */
h1{
    background-color: coral;
}
body{
    background-color: cadetblue;
}
ul{
    background-color: burlywood;
}
ol{
    background-color: blueviolet;
}
li{
    background-color: lemonchiffon;
}